/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 *= require foundation_and_overrides

 
 form.custom .custom.dropdown {
    background: linear-gradient(to bottom, white 0%, #F3F3F3 100%) repeat scroll 0 0 transparent;
    box-shadow: none;
    display: block;
    font-size: 0.875em;
    height: 2.3125em;
    margin-bottom: 1.25em;
    margin-top: 0;
    padding: 0;
    position: relative;
    top: 0;
    vertical-align: top;
    width: 100%;
}